/bower_components/
/node_modules/
/.pulp-cache/
/output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/src/Contracts/*
/abis/**/*.json
*.swp
.DS_Store
cliquebait-generated.json
foam.tcr.code-workspace
deploy.js
compile.js
/dapp/**/output
server/server/.stack-work/
.stack-work/
frontend/Generated/
*.cabal
compile.js
deploy.js
